<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}{% endblock %}</title>
</head>
<body>

<header>
    <h1> {% block titulo_header %}{% endblock %} </h1>


    <nav>
        <a href="{{ url_for("index") }}">Home</a>
        |
        <a href="{{ url_for("ler_dados") }}">Lista de Posts</a>

        |
        <a href="{{ url_for("add_post") }}">Adicionar de Posts</a>
    </nav>
    <br/><br/> <!-- não e assim q se deve fazer-->
</header>

<main>

    {% block conteudo %}{% endblock %}

</main>

</body>
</html>